DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/ais_tracking
LOCAL_DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/ais_tracking
APP_NAME=AIS Vessel Tracking and Prediction Platform
API_HOST=0.0.0.0
API_PORT=8000
MQTT_HOST=meri.digitraffic.fi
MQTT_PORT=443
MQTT_PATH=/mqtt
MQTT_TOPIC=vessels-v2/#
MQTT_CLIENT_ID=ais-tracking-demo-client
PREDICTION_DEFAULT_MINUTES=15
MAP_OUTPUT_DIR=output
